*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto;
}

.header {
  margin-top: 15rem;
  margin-bottom: 3rem;
  color:blueviolet;
  font-size: larger;
}

h2 {
  color:blueviolet;
}

.box {
  display: flex;
  margin-top: 2rem;
}

.btn {
  width: 4rem;
  padding: 0.5rem 0;
  margin: 0 0.5rem;
  background-color:blueviolet;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.btn:hover {
  background-color:rgb(183, 114, 247);
}

@media all and (max-width: 500px) {
  .container{
    width: 300px;
  }

  .header {
    margin-top: 5rem;
    font-size: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
  }

  .box {
    flex-direction: column;
  }

  .btn {
    width: 10rem;
    margin: 0.5rem 0;
  }
}